.card-container {
    padding: 20px;
    margin: 10px;
    width: 325px;
    min-height: 275px;
    max-height: 575px;
    display: inline-grid;
    background-color: #759dba;
    border-radius: 35px;
}

h3 {
    color: white;
    margin-left:auto;
    margin-right:auto;
}

.card-info {
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    color: #173e5c;
}

.card-button {
    width: 100%;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    background-color: transparent;
    font-weight: 600;
    height: 30px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.card-button:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(255, 255, 255, 0.481);
}

.chart-object {
    padding: 0;
    display: flex;
    justify-content: center;
}