.game-sales-chart {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}

.footnote {
    font-size: small;
    margin-top: 20px;
    font-style: italic;
    color: #1a4c71;
}

.chart-header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    color: white;
    background-color: #446f90;
    display: flex;
    justify-content: center;
    width: 432px;
    height: 40px;
    border-radius: 20px;
    align-items: center;
}